<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Posts</h2>
      <ul class="list-group">
        <app-post-list-item *ngFor="let monpost of posts; let i = index" [id] = "monpost.id" 
                                                                         [title] = "monpost.title" 
                                                                         [content] = "monpost.content" 
                                                                         [createAt] = "monpost.createAt" 
                                                                         [PostLoveIts] = "monpost.loveIts"
                                                                         [indexOfPost] = "i">
        </app-post-list-item>
      </ul>
      <button class="btn btn-primary" (click)="onSave()">Enregistrer les posts</button>
      <button class="btn btn-primary" (click)="onFetch()">Récupérer les posts</button>
    </div>
  </div>
</div>
